<!-- About Section -->
    <section id="about">
         <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                </div
                <div class="col-lg-12 text-justify">
                    <h3 class="section-subheading text-muted"><b>Hello there. I see that you have (accidently) stumbled accross my site. Quite nice of you to consider using packets of data to visit this site among the billions of other websites present on the internet excluding the Dark Side. (Pun intended!)
                    nevertheless here you are, having scrolled past the blogs section which you were supposed to read but are squandering time reading why this website was created in the first place. Well, this site is a blog by a quintessential stoic and does not partake in any economic activity leading to an increase in the GDP of whatever country you are from.
                    If at any point of time while reading this section, the thought 'What the Hell!' <- (Notice the Exclamation Mark) crossed your mind let me inform, that you have successfully wasted 2 minutes from 80 years (I do hope you are a human.) of your unproductive life reading text which will not_____________.
                    <br>  
                    <br>Feel free to fill the blank.
                    <br>BTW, if you are wondering why a lot of space is left between sections, don't fret. It has been left to play Tic-Tac-Toe in case you ever print the homepage of this site.
                    <br>                                                                                     
                        <br>Hail Pretzels!</b></h3>
                </div>
            </div>
        </div>
    </section>
